@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dark-gry{
    color: rgba(137, 135, 161, 1);
}



.display-flex{
    display: flex;
}

.nav-item{
    list-style: none;
    margin-right: 48px;
    font-weight: 300 ;
    

}

.nav-links{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}
.text-color{
    color: rgba(30, 30, 30, 1);
    font-weight: 700;
}

.navbar{
    justify-content: space-between;
}
.header{
    margin: 30px 120px 150px 150px ;
}
.span-color{
    color: rgba(233, 90, 8, 1);
}

.all-color{
    color: rgba(0, 0, 0, 0.5);
}

.h-container{
    color: rgba(0, 0, 0, 1);
    font-size: 65;
    font-weight: 700;
    margin-top: 162px;
}

.margin{
    margin-top: 120px;
}
.our-plants{
    text-align: center;
}

#p-our-plants{
    margin: 16px 126px 49px 126px;
}

.flower{
     text-align: center;
}

.card{
    width: 270px;
    height: 485px;
    
  
}
.btn-primary{
    padding: 19px  80px 19px 80px;                    ;
 background-color: rgba(233, 90, 8, 1);
 color: rgba(255, 255, 255, 1);
 font-weight: 700;
 border: none;
}

.card-container{
    display:flex;
  gap:10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1140px;
}

